:root {
    --darker: #1F2937;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}

#editTask {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem ;
    color: var(--light);
    font-size: 1.25rem;
    margin-top: 2%;
    width: 75%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#TaskSave {
    color: var(--pink);
    font-size: 1.125 rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0.5px;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 0.25rem;
    border-radius: 1rem;
    border: 2px solid transparent;
}

#TaskSave:hover{
    opacity: o.8;
}

#TaskSave:active{
    opacity: 0.6;
}