:root {
    --grey: #6B7280;
}

#NewTaskForm{
    display: flex;
}

#NewTaskInput{  
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    margin-top: 2%;
}

#NewTaskInput::placeholder{
  color: var(--grey);
}

#NewTaskSubmit {
    margin-top: 2%;
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
}

#NewTaskSubmit:hover{
opacity: 0.8;
}

#NewTaskSubmit:active
{
opacity: 0.6;
}
  