:root {
    --darker: #1F2937;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

#TaskEdit, #TaskDelete{
    color: var(--pink);
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0.5px;  
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 0.25rem;
    border-radius: 1rem;
    border: 2px solid transparent;
}

#TaskEdit:hover, #TaskDelete:hover{
    opacity: o.8;
}

#TaskEdit:active, #TaskDelete:active{
    opacity: 0.6;
}

#ToDoElement{
    background: var(--darker);
    border-radius: 1rem; 
    width: 75%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }