:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light);
    background-color: var(--darkest);
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  hr {
    color: var(--grey);
  }
  
  header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
  }
  
  #new-task-form {
    display: flex;
  }
  
  input,
  button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }
  
  #new-task-input, #ToDoEdit, #EditText {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    margin-top: 2%;
  }

  #new-task-input::placeholder, #ToDoEdit::placeholder, #EditText::placeholder {
    color: var(--grey);
  }
  
  #new-task-submit {
    margin-top: 2%;
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
  }
  
  #new-task-submit:hover,
  #TaskDelete:hover, 
  #TaskSave:hover {
    opacity: 0.8;
  }
  
  #new-task-submit:active,
  #TaskDelete:active, 
  #TaskSave:active
  {
    opacity: 0.6;
  }
  
  main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  .task-list {
    padding: 1rem;
  }
  
  .task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
  }
  
  #tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center; /* In der Mitte ausrichten */
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: overlay;
  }
  
  .task .content {
    flex: 1 1 0%;
  }
  
  #ToDoElement, #ToDoEdit, #EditText {
    background: var(--darker);
    border-radius: 1rem; 
    width: 75%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-top: 2%;
    display: flex; /* Flexbox hinzugefügt */
    justify-content: space-between; /* Auf der rechten Seite ausrichten */
    align-items: center; /* In der Mitte vertikal ausrichten */
  }
  
  .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: calc(100% - 2rem); 
    display: inline-block; 
    transition: 0.4s;
  }
  
  .task .content .text:not(:read-only) {
    color: var(--pink);
  }
  
  .task .actions {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  #TaskDelete, #TaskEdit, #TaskSave {
    color: var(--pink);
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0.5px;  
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 0.25rem;
    border-radius: 1rem;
    border: 2px solid transparent;
  }
  